.Post {
    background-color: #676565;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #d0b242;
  }
  
  .Heart:hover {
    color: #8ce780;
  }
  
  .HeartOutline:hover {
    color: #e8ba16;
  }